.slotsNav{
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid #333;
    padding: 1rem 2rem;
}

.slotsNav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.slotsNav-logo img{
    width: 15%;
    height: auto;
    cursor: pointer;
}

.slotsNav-links{
    gap: 2rem;
}

.slotsNav-links p{
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}

.slotsNav-links p a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.slotsNav-links p a:hover {
    color: #0b0b0b;
    text-decoration: underline;
}

.slotsNav-links p:hover {
    color: #050505;
}

.slotsNav-footer {
    margin-top: 1rem;
    text-align: center;
}