.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../assets/nav/nav2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    border-bottom: 1px solid #333;
}

.navbar-logo img {
    width: 10%;
    height: auto;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-links p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.navbar-links p:hover {
    color: #ddd;
    text-decoration: underline;
}

/* Adding a hover effect for links */
.navbar-links p a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links p a:hover {
    color: #ddd;
}