*{
  margin: 0;
}

.custom-btn{
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;;
}

.custom-btn:hover{
  background-color: #357ab8;
}