.slots-container {
    margin-top: 20px;
    text-align: center;
}

.slots-container h3{
    margin-bottom: 18px;
}

.slots-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 15px;
}

.slot-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slot-btn.available {
    background-color: #4caf50;
    color: white;
}

.slot-btn.unavailable {
    background-color: #f44336;
    color: #111;
    cursor: not-allowed;
}
